<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, illum asperiores! Corporis animi asperiores ab autem dicta recusandae, suscipit sint est dolores nam ipsa porro voluptates a vel veniam excepturi?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, illum asperiores! Corporis animi asperiores ab autem dicta recusandae, suscipit sint est dolores nam ipsa porro voluptates a vel veniam excepturi?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, illum asperiores! Corporis animi asperiores ab autem dicta recusandae, suscipit sint est dolores nam ipsa porro voluptates a vel veniam excepturi?</p>
        </ul>

    </div>

</div>
