<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/beta.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Diaz Montes Maria Betania</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            
            <h1>Soy una estudiante responsable y eficiente,en busca de un puesto de trabajo. Miobjetivo es obtener experiencia profecional en el area requerida para una developer web full stack junior. Poseo habilidades particulares que, junto con mi creatividad y ganas de trabajar en equipo puedo colaborar en los proyectos para poner a prueba mis conocimientos, asi como tambien tengo la capacidad del aprendizaje veloz.  
            </h1>
        </span>
    </div>

</div>
